# Server
PORT=5000
NODE_ENV=development

# Database
# MONGODB_URI=mongodb://localhost:27017/sports-store
mongodb+srv://datn_shop_app:Nguyenphi1503@cluster0-datn.wnh3f2e.mongodb.net/?appName=Cluster0-DATN
# hoặc MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/sports-store

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRE=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

# Email (NodeMailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password

# OpenAI
OPENAI_API_KEY=sk-your-openai-api-key

# Payment - VNPay
VNPAY_TMN_CODE=your-tmn-code
VNPAY_HASH_SECRET=your-hash-secret
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3000/payment/vnpay-return

# Payment - MoMo
MOMO_PARTNER_CODE=your-partner-code
MOMO_ACCESS_KEY=your-access-key
MOMO_SECRET_KEY=your-secret-key
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create

# Client URLs
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
